body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.pic-size{
	width: 3\
	æ./'./æ./≥÷æ÷/""?
	'/???























	00px;
}

.pic1{
	float: left;
	margin-left: 15px;
    
}
.pic2{
	float: right;
	margin-right: 14px;
}